/* Global Styles */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

.plainbg {
    background-color: rgb(0, 0, 0);
    padding-top: 50px;
}

.baba {
    padding-block: 20px;
    color: #ffffff;
    background-color: #251517;
}

/* Header Styles */
header {
    font-family: "Goblin", sans-serif;
    background-color: #000000;
    color: #fff;
    padding: 20px;
    align-items: center;
    font-size: x-large;
}

header h5, h6 {
    font-family: "Varino", sans-serif;
    font-size: small;
}

.logo img {
    height: 50px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    display: flex;
    align-items: center;
    z-index: 999;
}

.navbar-link {
    margin-left: 20px;
    text-decoration: none; 
    color: rgb(255, 255, 255);
    padding: 20px;
}

.navbar-links {
    margin-left: auto;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
}

.img {
    width: 100px;
    height: 100px; /* Adjust as needed */
    padding: 10px; /* Optional padding around each book */
    border-right: 1px solid #ccc; /* Optional vertical dividers */
    margin-bottom: 20px; /* Optional spacing between rows */
  }
  
  .img:last-child {
    border-right: none; /* Remove divider for the last book */
  }
  
  .img img {
    width: 100%;
    height: 200px; /* Adjust as needed */
    object-fit: cover; /* Ensure images fill the space properly */
  }

/* Hero Styles */
.hero {
    background-color: #000000;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
}

.hero p {
    font-size: 24px;
    margin: 20px 0;
}

.btn {
    background-color: #fff;
    border: none;
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Featured Articles Styles */
.shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    color: #fff;
    font-family: "Drexs", sans-serif;
}

.shelf-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.article {
    margin: 20px;
    max-width: 300px;
    text-align: center;
}

.article img {
    max-width: 100%;
}

.article h3 {
    margin: 10px 0;
    color: #fff;
}

/* Latest News Styles */
.latest-news {
    margin: 50px 0;
}

.latest-news h2 {
    margin-bottom: 20px;
}

.latest-news ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.latest-news li {
    margin-bottom: 10px;
}

.latest-news a {
    color: #999;
    text-decoration: none;
}

.latest-news .date {
    color: #999;
    font-size: 14px;
    margin-left: 10px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.social-media a {
    color: #fff;
    margin-right: 10px;
}

.social-media i {
    font-size: 24px;
}

@font-face {
    font-family: "Goblin";
    src: url("fonts/GlitchGoblin-2O87v.ttf");
}

@font-face {
    font-family: "Drexs";
    src: url("fonts/Drexs-z8gB3.ttf");
}

@font-face {
    font-family: "Varino";
    src: url("fonts/VarinonormalRegular-1GXaM.ttf");
}