body {
    font-family: "RASHKAL", sans-serif;
    margin: 0;
    background-image: url("/images/collage.png");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(227, 129, 178, 0.3);
}

.logo {
    margin-left: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(52, 12, 12);
    display: flex;
    align-items: center;
}

.navbar-link {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(133, 233, 240);
    padding: 20px;
}

.navbar-links {
    margin-left: auto;
    display: flex;
}

.zine-heading {
    margin-top: 90px;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 50px;
}

.zine-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 40px auto;
}

.zine-column {
    width: 45%;
    padding: 20px;
    background-color: rgba(227, 129, 178, 0.5);
    border: 5px solid rgb(133, 233, 240);
    box-shadow: 0 0 10px rgba(199, 102, 139, 0.25);
    margin-left: 2px;
    margin-right: 2px;
}

.flag-section {
    margin-bottom: 30px;
}

.flag-heading {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.flag-image {
    width: 200px;
    height: 120px;
    margin: 10px auto;
    display: block;
}

.flag-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.flag-details {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flag-details li {
    font-size: 14px;
    margin-bottom: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(52, 12, 12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-links a {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(133, 233, 240);
    padding: 10px;
}

h1, h2 {
    font-family: "RASKHAL", sans-serif;
    color: rgb(90, 21, 21);
    /* Replace "Rashkal" with your desired font */
}

p, li {
    font-family: "Handwriting", sans-serif;
    color: rgb(90, 21, 21);
    /* Replace "Rashkal" with your desired font */
}

@font-face {
    font-family: "RASKHAL";
    src: url("fonts/RASKHAL.ttf");
}

@font-face {
    font-family: "Handwriting";
    src: url("fonts/ShiftyNotesRegular-BWZ6d.ttf");
}